@inject SignInManager<IdentityUser> SignInManager;
@model PaginatedList<moviesite.Models.Film>
@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Watched";
    Layout = "~/Views/Shared/_Sidebar.cshtml";
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>


<div class="col-12">
    <div class="row" style="margin-bottom: 10px">
        <h3>Watched</h3>
    </div>
    <div class="row">
        <div class="col-4">
            <div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="btn btn-info dropdown-toggle" style="margin-right: 5px">Sort</button>
                    <div id="myDropdown" class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Watched" asp-route-sortOrder=@ViewBag.NameSortParam asp-route-currentFilter="@ViewData["CurrentFilter"]"> Sort by name</a>
                        <a class="dropdown-item" asp-action="Watched" asp-route-sortOrder=@ViewData["YearSortParam"] asp-route-currentFilter="@ViewData["CurrentFilter"]"> Sort by year </a>
                        <a class="dropdown-item" asp-action="Watched" asp-route-sortOrder=@ViewBag.LengthSortParam asp-route-currentFilter="@ViewData["CurrentFilter"]"> Sort by length </a>
                        <a class="dropdown-item" asp-action="Watched" asp-route-sortOrder=@ViewBag.ScoreSortParam asp-route-currentFilter="@ViewData["CurrentFilter"]"> Sort by IMDb Score </a>
                        <a class="dropdown-item" asp-action="Watched" asp-route-sortOrder=@ViewBag.Score1SortParam asp-route-currentFilter="@ViewData["CurrentFilter"]"> Sort by Metascore Score </a>
                    </div>
                </div>

                @{
                    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.NextPage ? "disabled" : "";
                }

                <button class="btn btn-primary">Page: @Model.PageIndex</button>
                <a asp-action="Watched" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex == 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-dark">First</a>
                <a asp-action="Watched" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-secondary @prevDisabled">Previous</a>
                <a asp-action="Watched" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-secondary @nextDisabled">Next</a>
            </div>
        </div>

        <div class="col-7">
            <form method="get" asp-action="Watched">
                <div style="float:left"><input id="searchString" name="searchString" type="text" placeholder="Search by Name" class="form-control"></div>
                <div style="float:left"><input id="searchYear" name="searchYear" type="text" class="form-control" placeholder="Search by Year"></div>
                <button type="submit" class="btn btn-primary" style="margin-left:5px">Search</button>
                <a asp-action="Index" class="btn btn-dark">Back to the full list</a>
            </form>

        </div>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div class="col-1">
                <a href="/Film/YeniFilm" class="btn btn-primary">New Entry</a>
            </div>
        }
    </div>


</div>


<div class="col-12">
    <table class="table table-bordered" style="margin-top: 15px">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Year</th>
                <th>Length (minutes)</th>
                <th>IMDb Score</th>
                <th>Metascore Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.FilmName</td>
                    <td>@x.FilmYear</td>
                    <td>@x.FilmLength</td>
                    <td>@x.FilmScore</td>
                    <td>@x.FilmScoreTwo</td>
                    <td>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <a href="/Film/FilmGetir/@x.Id" class="btn btn-success">Update</a>
                            @Html.ActionLink("Delete", "FilmSil", new { id = x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?')" })
                        }
                        <a href="/Profile/RemoveFromWatched/@x.Id" class="btn btn-primary">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>




</div>

